* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

.hero {
  margin: 64px auto;
  width: 626px;

  text-align: center;
}

.hero h1 {
  font-family: 'Dosis';
  font-size: 32px;
  font-weight: 500;
  line-height: normal;

  margin-top: 32px;
  color: #3F3D56;
}

.hero h1 span {
  color: #EE24FF;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.hero p {
  width: 540px;
  margin: auto;
  margin-top: 16px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #828282;
}

.hero strong {
  color: #3F3D56;
}

.hero p span{
  font-weight: 700;
}

footer {
  width: 100%;
  margin-top: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

footer a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;

  color: #3F3D56;
}

.footer {
  background: url(./assets/Wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 204px;
  object-fit: cover;

  margin-top: 105px;
}